.modal-account{
  width: 500px; 
  &-title{
    background-color:rgba(253, 160, 38, 0.96); 
    padding:0.5rem 1rem;
    h2 {
      font-family: NotoSerif;
      font-weight: 600;
    }
  }
  &-body{
    display:block;
    margin-top:15px;
    position: relative;
    padding:0.5rem 1rem;
    max-height: 450px;
    overflow-y: auto;
  }
}

