<mat-toolbar>
  <mat-toolbar-row>
    <h1 class="headline size-3">THE COFFEE HOUSE</h1>
    <span class="example-spacer"></span>
    <div class="avatar cursor" [matMenuTriggerFor]="menu">
      <img
        src="../../../assets/images/user-avatar.png"
        width="100%"
        height="100%"
        alt="logo"
      />
    </div>
    <mat-menu #menu="matMenu">
      <div class="mod-menu">
        <div class="mod-menu-header">
          <div class="avatar">
            <img
              src="../../../assets/images/user-avatar.png"
              width="100%"
              height="100%"
              alt="logo"
            />
          </div>
          <div>
            <h5 class="headline size-4">Trung ha</h5>
            <p class="size-5">Nhân viên</p>
          </div>
        </div>
        <div class="mod-menu-action">
          <button class="button-round">Trang cá nhân</button>
          <br />
          <a (click)="logout()" class="size-4 cursor"> Đăng xuất </a>
        </div>
      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
