@import "../../../assets/theme.scss";

.mod-search {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  &-form {
    position: relative;
    display: flex;
    gap: 8px;
    .iconserch {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}
